@import "aos/dist/aos.css";
@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #cbf1f5;
  --color-primary-content: #FFDCDC;
  --color-secondary: #658c58;
  --color-secondary-content: #9DB2BF;
  --color-accent: #ff9292;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.myBtn {
  @apply bg-secondary text-primary hover:bg-gray-500 sm:px-6;
}

/* * Swiper Css */
.swiper {
  width: 100%;
  height: 89vh;
}

.swiper-slide {
  text-align: left;
  font-size: 20px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
